.posts_box, .coments_box{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.post{
    width: 17%;
    height: 225px;
}
h5{margin: 0 5px;
    line-height: 13px;
}
h4{
    margin: 10px;
}
p{margin: 2px;
    font-size: 8px;
}
.coment_block{
    width: 45%;
}